Flask==3.1.2
SQLAlchemy==2.0.44
PyMySQL==1.1.2
requests==2.32.5
PyJWT==2.10.1
itsdangerous==2.2.0
marshmallow==4.1.0
numpy==1.26.4
pandas==2.3.3
scipy==1.16.3
h5py==3.15.1
pytest==9.0.1
python-dotenv==1.0.1
tensorflow-cpu==2.16.1

